body {
    background: #7f8c8d;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    margin: 5px 5px;
    padding: 4px 5px;
    text-align: center;
    border: none;
}

#encabezado {
    color: brown;
}

.naranja{
    color: orange;
}

table{
    background-color: red;
    font-size: 20px;
}

ol{
    background-color: yellow;
    font-size: 30px;
}

form{
    background-color: red;
    font-size: 15px;
}