
.contenedor{
    height:100px;
    width: 800px;
    margin:0px auto;
    border:1px solid #cccccc;
}
.elemento{
    color:black;
    background-color: pink;
    text-align:center;
    font-weight:bold;
    border:1px solid black;
}

