body {
    background: #7f8c8d;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    margin: 5px 5px;
    padding: 4px 5px;
    text-align: center;
    border: none;
}

#encabezado {
    font-size: 20px;
    color: brown;
    /* animation: cambiocolor 5s infinite; */
}

#encabezado2 {
    color: yellow;
    font-size: 50px;
    /* animation: cambiocolor 5s infinite; */
}

#encabezado3 {
    animation: cambiocolor 30s infinite;
}

@keyframes cambiocolor
{
    from {
        font-size: 20px;
        color: brown;
    }
    to{
        font-size: 50px;
        color: yellow;
    }
}

.naranja{
    color: orange;
}

table{
    background-color: red;
    font-size: 20px;
}

ol{
    background-color: yellow;
    font-size: 30px;
}

form{
    background-color: red;
    font-size: 15px;
}

#btnIntroducirInfo{
    font-size: 15px;
}

#btnIntroducirInfo:hover{
    transition: all 1s ease 0s;
    font-size: 30px;
    text-shadow: 3px 3px 4px gray, -3px -3px 4px gray;
    transform: rotate(25deg);
}

#divEscalado:hover{
    transform: scale(0.5);
}