
body{
    margin:25px;
    color:#333333;
    font-family:"Open Sans", sans-serif;
    font-weight:600;
    font-size:2rem;
}
.contenedor, elemento{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}
.contenedor{
    width:100%;
    margin:0px auto;
    border:1px solid #cccccc;
}
.elemento{
    width:25%;
    color:violet;
    text-align:center;
    font-weight:bold;
    padding:10px 0px;
}
.elemento:nth-child(1){ background-color:#488533; }
.elemento:nth-child(2){ background-color:#488543; }
.elemento:nth-child(3){ background-color:#488553; }
.elemento:nth-child(4){ background-color:#488563; }
.elemento:nth-child(5){ background-color:#488573; }
.elemento:nth-child(6){ background-color:#488583; }
.elemento:nth-child(7){ background-color:#488593; }

