/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-ago-2019, 18:20:48
    Author     : MESACOCINA
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-ago-2019, 18:15:23
    Author     : MESACOCINA
*/
footer {
  background: green;
  font-family: cursive;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-ago-2019, 18:14:32
    Author     : MESACOCINA
*/
header {
  color: yellow;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-ago-2019, 18:15:16
    Author     : MESACOCINA
*/
main {
  text-decoration-color: red;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-ago-2019, 18:15:10
    Author     : MESACOCINA
*/
nav {
  text-align: right;
  font-size: 20pt;
}
